body {
    font-family: Arial, sans-serif;
    color: #959191;
    background-color: rgb(46, 47, 47);
}

button {
    margin-top: 0.5em;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-size: large;
    transition-duration: 0.4s;
    cursor: pointer;
    /* min-width: 50%; */
    width: 100%
}


button:hover {
    background-color: #2b792f;
}

.menu-button {
    background-color: #8e1616;
    float: right;
    width: 100%;
    margin-top: 0px;
}
.red-button:hover {
    background-color: #d82525;
}

.buttons {
    display: flex;
    width: 100%
}

.dropdown {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.dropbtn {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(46, 47, 47);
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* icons */

.icon-counter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2em;
    padding: 0.5em;
}

.counter-block {
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.number {
    font-size: 1.5em;
    margin-left: 0.2em;
}

.number-circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0.2em;
}

.number-circle img {
    width: 100%;
}

.number-circle.africa {
    background: #fcf100;
    border-color: #fcf100;
    color: #000;
}

.number-circle.europe {
    background: #8dd4f8;
    border-color: #8dd4f8;
    color: #000;
}

.number-circle.asia {
    background: #b6dbbc;
    border-color: #b6dbbc;
    color: #000;
}

.number-circle.americas {
    background: #f3ae5f;
    border-color: #f3ae5f;
    color: #000;
}

.number-circle.australia {
    background: #e65b62;
    border-color: #e65b62;
    color: #000;
}

.number-circle.birds {
    background: #3aa0d6;
    border-color: #3aa0d6;
    color: #fff;
}

.number-circle.predators {
    background: #9a2021;
    border-color: #9a2021;
    color: #fff;
}

.number-circle.herbivores {
    background: #28785a;
    border-color: #28785a;
    color: #fff;
}

.number-circle.reptiles {
    background: #4b418a;
    border-color: #4b418a;
    color: #fff;
}

.number-circle.primates {
    background: #ebb01a;
    border-color: #ebb01a;
    color: #fff;
}

.number-circle.aquatic {
    background: #47549f;
    border-color: #47549f;
    color: #fff;
}

.number-circle.bears {
    background: #ffffff;
    border-color: #ffffff;
    color: #000;
}

.number-circle.petting {
    background: #ffffff;
    border-color: #ffffff;
    color: #000;
}

.number-circle.research {
    background: #a7c2d1;
    border-color: #a7c2d1;
    color: #000;
}

.number-circle.rock {
    background: #665955;
    border-color: #665955;
    color: #eae8e7;
}

.number-circle.water {
    background: #3e76bd;
    border-color: #3e76bd;
    color: #d2d9ee;
}


.confirm-dialog {
    display: none;
    position: fixed;
    text-align: center;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e2f2f;
    padding: 20px;
    border: 1px solid #000;
}

.confirm-dialog button {
    margin: 10px;
    width: 90%;
}